<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar">
  <div class="container">
    <div id="logo"><%= link_to "ねこ生", root_path %></div>
    <ul class="header-right">
      <li><%= link_to "配信猫一覧", root_path %></li>
      <li><%= link_to "新規配信", movies_new_path %></li>
      <li><%= link_to "ねこ生って？", about_path %></li>
      <li><%= link_to "コンタクト", contact_path %></li>
      <li><%= link_to "会員登録", member_path %></li>
    </ul>
  </div>
</header>


<%= yield %>

</body>
</html>
